@import '../../assets/scss/helpers/grid.scss';

.wrapper {
  background: #4200FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 40px;

    width: 80%;
    font-family: Underground;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-align: center;
    
    color: #FFFFFF;
  }

  .dancingManImage {
    margin-bottom: 5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include sm-width {
    h1 {
      padding-top: 7vw;
      padding-bottom: 2vw;
      font-size: 3.12vw;
    }
  }
}